services:
  backend:

    volumes:
      - .:/backend:delegated
      - /backend/.venv  # Protege a venv do container
      - ./alembic/versions:/backend/alembic/versions:rw

    develop:
      watch:
        - action: sync
          path: ./app/
          target: /backend/app/

  postgres:
    ports:
      - "${POSTGRES_PORT}:5432" 
  
  pgadmin:
    ports:
      - "${PGADMIN_PORT}:80"