{% extends "templates/base.html" %}
{% block body %}

<body
    class="min-h-screen flex items-center justify-center bg-surface dark:bg-surface-dark dark:text-on-surface-dark text-on-surface">
    <div x-data="{username: '', password: ''}"
        class="bg-surface-alt p-8 rounded-lg max-w-md w-full dark:bg-surface-dark-alt dark:text-on-surface-dark text-on-surface border-outline dark:border-outline-dark border flex flex-col justify-center">
        <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>

        <form @submit.prevent="$store.auth.login(username, password)"
            class="space-y-6 flex flex-col flex-1 items-center">
            <!-- Usuário -->
            <div class="flex w-full max-w-xs flex-col gap-1 justify-center text-on-surface dark:text-on-surface-dark">
                <label for="username" class="w-fit pl-0.5 text-sm">Username</label>
                <input id="username" x-model="username" type="text" requried
                    class="w-full rounded-radius border border-outline bg-surface-alt px-2 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary disabled:cursor-not-allowed disabled:opacity-75 dark:border-outline-dark dark:bg-surface-dark-alt/50 dark:focus-visible:outline-primary-dark"
                    name="username" placeholder="Username" autocomplete="username" />
            </div>

            <!-- Senha -->
            <div class="flex w-full max-w-xs flex-col gap-1 text-on-surface dark:text-on-surface-dark">
                <label for="password" class="w-fit pl-0.5 text-sm">Password</label>
                <input id="" x-model="password" type="password" requried
                    class="w-full rounded-radius border border-outline bg-surface-alt px-2 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary disabled:cursor-not-allowed disabled:opacity-75 dark:border-outline-dark dark:bg-surface-dark-alt/50 dark:focus-visible:outline-primary-dark"
                    name="password" placeholder="Password" autocomplete="current-password" />
            </div>

            <button type="submit"
                class="whitespace-nowrap bg-transparent rounded-radius border border-primary px-4 py-2 text-sm font-medium tracking-wide text-primary transition hover:opacity-75 text-center focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:border-primary-dark dark:text-primary-dark dark:hover:bg-on-surface-dark dark:hover:text-on-primary-dark dark:focus-visible:outline-primary-dark">Login</button>


            <template x-if="$store.auth.error">
                <p class="text-red-500 mt-2" x-text="$store.auth.error"></p>
            </template>
        </form>
    </div>

</body>

{% endblock body %}